/*reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*general*/
body {
  font-family: "Open Sans", serif;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*header*/
header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  padding: 0 8px;
}

header nav ul li a {
  text-decoration: none;
  color: #303030;
  font-weight: 600;
}

header img {
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*main*/

main {
  background-color: black;
  color: white;
}

.hero {
  background-image: url("../img/jumbotron.jpg");
  min-height: 400px;
}

.current-series {
  background-color: #0282f9;
  width: 170px;
  position: relative;
  text-align: center;
  top: -20px;
}

.current-series p {
  padding: 10px;
  font-weight: 700;
}

.main-btn-cnt {
  padding: 16px;
  text-align: center;
}
.main-btn {
  background-color: #0282f9;
  color: white;
  font-weight: 700;
  padding: 12px 50px;
}

/*footer*/
.first-banner {
  background-color: #0282f9;
  display: flex;
  justify-content: center;
}

.first-banner div {
  display: flex;
  color: white;
}

.first-banner img {
  padding: 60px 0;
  height: 180px;
}

.first-banner p {
  padding: 80px 20px;
}

.img-credit {
  width: 70px;
}

.second-banner {
  min-height: 400px;
  background-image: url("../img/footer-bg.jpg");
  color: white;
}

.second-banner ul {
  list-style: none;
}

.second-banner h4 {
  font-size: 20px;
  padding: 20px 0;
}

.second-banner ul li {
  color: #c8cdce;
  font-size: 12px;
  padding: 2px 0;
}

.second-banner ul li a {
  text-decoration: none;
  color: #c8cdce;
  cursor: pointer;
}

.second-banner .col {
  padding: 20px 30px;
}

.second-banner .col:first-child {
  padding-left: 00px;
}

.big-logo {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 400px;
}

.third-banner {
  background-color: #303030;
  min-height: 120px;
}

.third-banner .row {
  justify-content: space-around;
  align-items: center;
  padding: 20px 14px;
}

.signup-button {
  font-size: 16px;
  padding: 8px 20px;
  background-color: transparent;
  color: white;
  border-color: #0282f9;
  cursor: pointer;
}

.third-banner h4 {
  color: #0282f9;
}

.third-banner img {
  padding: 0px 6px;
}
